.root {
  position: relative;
  font-weight: 700; // font-family: Montserrat, 'Yeon Sung';
  // font-family: Montserrat, 'Stylish';
  font-family: 'Stylish'; // font-family: 'Yeon Sung';
  // font-family: 'Cute Font';
  // @import url('https://fonts.googleapis.com/css?family=Cute+Font|Jua|Stylish|Yeon+Sung');
  img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.1;
  }
  svg {
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid red; // 차트를 감싸는 박스
    // .inner {
    //   fill: none;
    //   stroke: black;
    // }
    // .axis {
    // }
    // .axisTick {
    //   stroke: black;
    // }
    .inner {
      text {
        fill: #000;
        font-size: 18px;

      }
      rect, path {
        fill: none;
        stroke: #000;
      }
    }
  }
}

:global(.theme2),
:global(.theme3) {
  .root {
    svg {
      // 차트를 감싸는 박스
      // .inner {
      //   stroke: #fff;
      // }
      .inner {
        text {
          // font-size: 16px;
          fill: #fff;
        }
        rect,
        path {
          stroke: #fff;
        }
      } // .axisTick {
      //   stroke: #fff;
      // }
    }
  }
}