// @import .scss => styles
div(className='{styles.root}')
  main(role='main')
    //- Main jumbotron for a primary marketing message or call to action
    //- .jumbotron
      
      //- .container(ref='{clientRef}')
    .container
      Pyramid(year='{2065}')


      //- .row
        .col-sm-9
          .card
            .card-body
              | 내용
        .col-sm-3
          .card
            .card-body
              | 옵션
      //- h1.display-3 Rect: {rect.width} x {rect.height}
      //- p
      //-   | This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.
      //- p
        
      //- //- .container
      //- //- ThemeDropdown
      //- input.form-control
      //- a.btn.btn-primary.btn-sm(href='#', role='button') Learn more »