@import 'variables';
// @import 'fonts/noto-sans';
@import url('https://fonts.googleapis.com/css?family=Black+Han+Sans:400');
@import 'misc/page-transition';
@import '../../../../node_modules/font-awesome/css/font-awesome.css';
// @import 'bootstrap/bootstrap';

html,
body {
  height: 100%;
  // color: $test;
  // color: map-get($color-red, 500) !important;
  // color: $red__;
}

body {
  font-family: 'Black Han Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
}
